<div class="grid grid-cols-3 grid-flow-col h-screen">
    <div class="bg"></div>
    <div class="col-span-2 p-4 flex flex-col justify-between  h-screen">
        <div>
            <div class="flex justify-end text-slate-500">
                <p class="paragraph-md bcp-font-regular text">Esta ventana se cerrará en&nbsp; </p>
                <p class="paragraph-md bcp-font-regular text bar-blue"> 212 segundos &nbsp;</p>
            </div>
            <div class="flex flex-col justify-center items-center">
                <h2 class="mb-8 mt-16 text-blue-800 font-bold text-2xl">Mi Negocio BCP</h2>
                <form class="w-2/5">
                    <div class="flex justify-center mb-8 space-x-4">
                        <div>
                            <input type="radio" name="type" id="persona" name="tipo" checked> 
                            <label for="persona"> Persona</label> 
                        </div>
                        <div>
                            <input type="radio" name="type" id="empresa" name="tipo">
                            <label for="empresa"> Empresa</label>
                        </div>
                    </div>
                    <div class="border rounded-lg flex">
                        <select class="px-2">
                            <option value="DNI">DNI</option>
                            <option value="Pasaporte">Pasaporte</option>
                        </select>
                        <input class="flex-1 px-3 py-3 border-0 rounded-lg" inputmode="numeric" autocomplete="numeroDocumento" type="text" 
                            maxlength="8" placeholder="Nro de documento">
                    </div>
                    <button type="button" class="px-8 py-3 text-white w-full bg-orange-400 rounded-full mt-8" routerLink="/login">
                        Continuar
                    </button>
                </form>
            </div>
        </div>
        <div class="text-xs text-slate-500 text-center">
            <p> Esta es una página segura del BCP. Si tienes dudas sobre la autenticidad de la web, comunícate con nosotros al 311-9898 o a través de nuestros medios digitales.</p>
            <p>Todos los derechos reservados   |   © 2020 VIABCP.com </p>
        </div>
    </div>
</div>