.bg {
  background-image: url("https://loginunico.viabcp.com/assets/img/ciam/YM.jpg"), url("https://loginunico.viabcp.com/assets/img/ciam/bydefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
}