<body bgcolor="whitesmoke">

    <div class="row">       
        <div class="columnTop">
            <h2>   
            </h2>  
        </div>
        <div class="columnTop">
            <h3 style="margin-left: 55%">Esta ventana se cerrará en 72 segundos</h3>   
        </div>
    </div>

    <div class="row">       
        <div class="column1">
            <p style="margin-top: 15%"><img src="https://www.viabcp.com/wcm/connect/17bb49b7-9ecf-4d37-a057-9fedb5710125/bottom_img.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-17bb49b7-9ecf-4d37-a057-9fedb5710125-nD8DbP6" width="100%" /></p>
            <button class="btn" type="button" name="btnVolver">
                < Volver            
            </button> 
        </div>
        <div class="column2">
            <h2 class="tableCenter">Mi negocio BCP</h2>
            <input style="margin-left: 35%" type="radio" name="type" id="type1"> <label for="type1"> Persona</label> <input type="radio" name="type" id="type2"> <label for="type2"> Empresa</label>
            <br> <br> <br>
            <input style="margin-left: 30%" list="list-doc-type" id="doctype" name="doctype" class="checklistFormat" />
            <datalist id="list-doc-type">
                <option value="DNI">
                <option value="Pasaporte">
            </datalist>
            <input type="text" id="doctypetxt" name="doctypetxt" required minlength="9" maxlength="8" size="9" style="width: 20%">
            <br> <br> <br>
            <button style="margin-left: 38%" class="btn" type="button" name="btnNext">
                Continuar
            </button>
        </div>
    </div>
</body>