<div class="grid grid-cols-2 gap-10">
  <div>
    <img
      src="https://loginunico.viabcp.com/assets/img/ciam/bydefault.jpg"
      alt="Imagen Login BCP"
    />
  </div>
  <div class="p-4 flex flex-col">
    <div class="flex justify-end text-slate-500">
      <p class="paragraph-md bcp-font-regular text">
        Esta ventana se cerrará en&nbsp;
      </p>
      <p class="paragraph-md bcp-font-regular text bar-blue">
        78 segundos &nbsp;
      </p>
    </div>
    <h2 class="mb-8 mt-16 text-blue-800 font-bold text-2xl">
      Banca por Internet
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="cardNumber">Número de tarjeta</label>
      <input
        type="text"
        name="cardNumber"
        class="border rounded-lg w-full py-2 px-2"
        id="cardNumber"
        formControlName="cardNumber"
      />
      <div class="mb-8">
        <input type="checkbox" name="recCard" id="recCard" /> &nbsp;
        <label for="recCard">Recordar Tarjeta</label>
      </div>
      <div>
        <label for="password">Clave de Internet de 6 dígitos</label>
        <input
          class="border rounded-lg w-full py-2 px-2"
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
        <div id="VirtualKey" class="mt-4">
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn1"
            type="button"
            value="1"
            #btn1
            (click)="inputNum(btn1.value)"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn2"
            type="button"
            value="2"
            #btn2
            (click)="inputNum(btn2.value)"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn3"
            type="button"
            value="3"
            #btn3
            (click)="inputNum(btn3.value)"
          />
          <br />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn4"
            type="button"
            value="4"
            #btn4
            (click)="inputNum(btn4.value)"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn5"
            type="button"
            value="5"
            #btn5
            (click)="inputNum(btn5.value)"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn6"
            type="button"
            value="6"
            #btn6
            (click)="inputNum(btn6.value)"
          />
          <br />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn7"
            type="button"
            value="7"
            #btn7
            (click)="inputNum(btn7.value)"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn8"
            type="button"
            value="8"
            #btn8
            (click)="inputNum(btn8.value)"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn9"
            type="button"
            value="9"
            #btn9
            (click)="inputNum(btn9.value)"
          />
          <br />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btn0"
            type="button"
            value="0"
            #btn0
            (click)="inputNum(btn0.value)"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btnDel"
            type="button"
            value="X"
            (click)="delNum()"
          />
          <input
            class="border bg-slate-400 px-4 py-1 text-white rounded hover:bg-orange-400"
            id="btnDel"
            type="button"
            value="Del"
            (click)="delAll()"
          />
        </div>
        <div class="mt-3">
          <a href="http://" class="text-slate-500"
            >No tengo clave de internet
          </a>
          | <a href="http://" class="text-slate-500">Olvidé mi clave</a>
        </div>
      </div>
      <button
        type="submit"
        class="px-8 py-3 text-white bg-orange-400 rounded-full mt-8 hover:bg-blue-400"
      >
        Ingresar
      </button>
      <div class="mt-5">
        <p>Ayuda remota</p>
        <a href="http://" target="_blank" rel="noopener noreferrer"
          ><img src="" alt="information icon" srcset=""
        /></a>
      </div>
    </form>
  </div>
</div>
