<div>
    <div class="box">
        <p class="box-label">Cuenta de origen</p>
        <p class="font-weight-bold">Cuenta de ahorro</p>
        <p>123-12312345-1-23</p>
    </div>
    <div class="box">
        <p class="box-label">Monto total</p>
        <p>S/. 100.00</p>
    </div>
    <div class="box">
        <p class="box-label">Cuenta destino</p>
        <p class="font-weight-bold">LUIS ANTONIO RODRIGUEZ</p>
        <p>948-983179-1-23</p>
    </div>
    <div class="box">
        <p class="box-label">Número de operación</p>
        <p>0019712</p>
    </div>
</div>