<div>
    <div class="box">
        <p class="box-label">Cuenta de origen</p>
        <p class="font-weight-bold">Cuenta de ahorro</p>
        <p>123-12312345-1-23</p>
    </div>
    <div class="box">
        <p class="box-label">Monto total</p>
        <p>S/. 100.00</p>
    </div>
    <div class="box">
        <p class="box-label">Cuenta destino</p>
        <p class="font-weight-bold">LUIS ANTONIO RODRIGUEZ</p>
        <p>948-983179-1-23</p>
    </div>
    <div>
        <p>Confirma que los datos son correctos antes de continuar.</p>
        <b>Esta operación se continuará de forma automática a través de tu token digital.</b>
    </div>
</div>