<div style="padding: 2%;">
    <div class="row">
        <div class="column">
            <h3 style=" padding: 2%;">Icono</h3>
            <p>Banca por internet</p>
            <p>Hola, ******</p>

            <div class="divs-box">
                <p class="title-cuentas">Cuentas</p>
                <table style="width:97%">
                    <tr style="height: 60px;">
                        <td></td>
                        <td style="text-align:right">Ajustes icono</td>
                    </tr>
                    <tr>
                        <td>Ahorro soles</td>
                        <td style="text-align:right">S/. 100.00</td>
                    </tr>
                    <tr>
                        <td>1234567890</td>
                        <td style="text-align:right">Saldo disponible</td>
                    </tr>
                </table>
            </div>

            <div class="divs-box" style="margin-top: 6%;text-align: end;">
                <p class="title-cuentas">Más productos</p>

                <select name="productos" id="productos" style="border-color: transparent;">
                    <option value="producto1">Ver productos</option>
                </select>
            </div>
        </div>


        <div class="column" style="text-align: end;width: 50%;">
            <ul style="margin-left: auto;">
                <li><a href="">INICIO</a></li>
                <li><a routerLink="/transaccion">TRANSFERENCIAS</a></li>
                <li><a href="">PAGOS</a></li>
                <li><a href=""> MAS OPERACIONES</a></li>
            </ul>
            <p>Último acceso</p>
            <p style="color:#888b8a ;">02 de mayo de 2022-10:10pm</p>

            <div class="divs-box" style="text-align: end;height: 400px;margin-top: 4%">
                <p class="title-cuentas">Favoritos</p>
                <p>Ajustes</p>
                <div class="column" style="height:40px !important; border: solid 2px; text-align: center;">Transferencia</div>
                <div class="column" style="height:40px !important; border: solid 2px; text-align: center;">Pagos</div>
                <p style="text-align:left;padding:3%">Nueva Transferencia ></p>
            </div>
        </div>
    </div>
</div>