.steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .step {
        margin: 0 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        .number {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            align-self: center;
            line-height: 50px;
            color: #4d5b70;
            border: 1px solid #acb2bd;
        }
        &.active {
            .number {
                background: #ff7800;
                border-color: #ff7800;
            }
        }
        .name {
            margin-top: 5px;
        }
    }
}
.page-header {
    text-align: center;
    margin: 20px 0;
    p,
    h2 {
        margin-top: 0;
        margin-bottom: 5px;
    }
}
section {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
.actions {
    margin-top: 20px;
}